body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    
}
#jak-container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    height:100vh;
    width: auto;
    font-family: sans-serif;
    background-image:linear-gradient(rgb(7, 49, 3), green 90%, black) ;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: goldenrod;
    font-weight: 700;
}

p {
    color:white;
    font-weight: 600;
}
#message-el{
    color: white;
    font-style: italic;
    font-weight: 600;
}
button{
    width: 160px;
    background-color: goldenrod;
    color: green;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    border:none;
    border-radius: 2px;
    margin: 3px;
  
}

